<!-- The front-end of the catalog by Heikki Pitkänen 20.10.2016 v0.1 -->

<!-- General TODO: Add functionality on JavaScript side -->

<!DOCTYPE html>
<html>
<link rel="stylesheet" href='/static/css/style.css' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script type="text/javascript" src="static/js/jquery-3.1.1.min.js" async="true"></script>
<script type="text/javascript" src="static/js/action.js" async="true"></script>
<head>
<title>Catalog</title>
</head>
<body onload="search('','name')" ng-controller="catalogCtrl">

<h1>Catalog</h1>

<!-- Table to contain buttons and forms for search and adding etc. -->

<table style="width:80%" align="center" id="actionTable">
  <tr>
    <th></th>
    <th></th>
    <th align="left">
    <div class="ontop" id="search">
      <form id="searchForm">
	<label for="searchText" class="ontop">Search:</label> 
	<input type="text" id="searchCriteria" name="searchText" ng-model="searchCriteria" ng-change="update()" placeholder="Write something..." onkeypress="keypress(event)"> 
	<input type="button" id="searchBtn" value="Search" onClick="update()">
      </form></div>
      <div class="ontop" id="sortby">
      <label for="sort_by" class="ontop">Sort by:</label> 
      <select selected="name" id="sort_by" onchange="update()">
                            <option id="name">name</option>
                            <option id="price">price</option>
      </select>
      </div>
      <div class="ontop" id="add_product">
      <label for="addForm" class="sr-only">Add product:</label>
      <form id="addForm">
      <input type="text" id="addProductName" name="addProductName" placeholder="Product" >
      <input type="text" id="addProductAmount" name="addProductAmount" placeholder="Amount" >
      <input type="text" id="addProductPrice"  name="addProductPrice" placeholder="Price" >
      <input type="button" id="searchBtn" value="Add" onClick="addProduct()">
      </div>
    </th>
    <th></th>
    </tr>
</table>
    
<!-- Table that contains the products -->
<!-- TODO: Contains just a dummy example. Add functionality on javascript side -->
    
<table style="width:80%" align="center" id="productTable">
  <tr>
   <thead>
    <th align="left">Product</th>
    <th align="left">Amount</th> 
    <th align="left">Price</th>
    <th align="left">Edit</th>
   </thead> 
  </tr>
  <tbody id="productTableBody">
  </tbody>
<!--  <tr>
    <td align="left">Hammer</td>
    <td align="right">500</td> 
    <td align="right">10</td>
    <td align="center"></td>
  </tr>-->
</table>

</body>
</html>
